.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-container > div {
    background-color: #b5faf1;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
  }
  .container {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  a:link,
  a:visited {
    color: rgb(14, 13, 13);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover,
  a:active {
    background-color: rgb(247, 54, 54);
    width: 300px;
  }